[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/madler/zlib.git
[submodule "py/six/six"]
	path = py/six/six
	url = https://github.com/benjaminp/six.git
[submodule "py/gflags/gflags"]
	path = py/gflags/gflags
	url = https://github.com/google/python-gflags.git
